
<div class="cardtop">
  <i class="fas fa-long-arrow-alt-left">&nbsp; Regresar &nbsp;</i>
  <p> &nbsp; Persona > UserName > <b>Informacion</b>  </p>

</div>
<div  class="card" style="width: 99%;
    height: 21rem;
    margin-left: 20px;
    margin-top:28px">
      <div class="row" style="margin-top: 25px;">
    <div class="col-1"></div>
  <div class="col-3">



    <img class="img-thumbnail rounded-circle" src="../../../assets/user.png" height="50px" width="200px" alt="Avatar"/>
    <div class="circle bg-success circle-lg"></div>

  </div>
    <div class="col-3">
      <div style="margin-left: 20px;">
        <strong class="title">Informacion Personal</strong>
        <p>Nombre:</p>
        <p>Segundo nombre:</p>
        <p>Apellidos:</p>
        <p>Correo:</p>
        <p>Telefono:</p>
        <p>Genero:</p>
        <p>Fecha de nacimiento:</p>
      </div>
    </div>


    </div>
</div>


<div class="cards">


<div class="card" style="width: 99%;
height: 27rem;
margin-left: 20px;
margin-top:60px">
  <div class="row" style="margin-top: 40px;">


<div class="col-8">
  <div style="margin-left: 20px;">
    <strong class="title">Direccion </strong>
    <p>Tipo

      <select >
        <option value=""></option>
      </select>
    </p>
    <p>Calle y numero</p>
    <p>Codigo postal</p>
    <p>Delegacion</p>
    <p>Ciudad</p>
    <p>Estado</p>
    <p>Pais</p>
    <p>Comentario</p>
  </div>
</div>
<div class="col-4">
  <button type="submit"  class="btn btn-pro">Agregar direccion</button>
</div>

</div>
  </div>
      <div class="card" style="width: 102%;
          height: 21rem;
          padding-left: 20px;
          margin-top:60px">
          <div class="row" style="margin-top: 40px;">
          <div class="col-12">
            <strong class="title">Direcciones guardadas</strong>
            <table class="table table-hover">

              <tbody  style="background: white">
                    <tr>
                      <td class="title">Oficina</td>
                      <td class="title">Tonala10 <br>Codigo postal <br>Comentario </td>
                      <td>
                        <i class="icon far fa-trash-alt mr-4" title="Eliminar Direccion"></i>
                        <i class="icon far fa-clipboard" title="Editar Direcion"></i>
                      </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
    </div>
</div>



