
<body class="center" >
  <div class=" center carta no-gutters">
    <div class="contenedor">
      <div class="formulario">
        <form [formGroup]='loginForm' (submit)='login(loginForm.value)'>
            <div class="group">
                <input type="text" required formControlName="email">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>

            </div>
            <div class="group">
                <input type="password" required formControlName="password">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Password</label>
            </div>

                <div class="center">
                    <button type="submit"  class="btn btn-pro">Log in</button>

            </div>
        </form><br>
        <a href="" class="center">Olvide mi contraseña</a>
</div>
    </div>

  </div>
  <div class=" carta2 no-gutters" >
    <h3>Bienvenido a </h3>
    <h1><p>NEBULA</p></h1>
  <p class="textL" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dolor atque, possimus,
    accusantium perspiciatis rerum sapiente officiis fugit expedita repellendus a optio adipisci quos iusto, hic sed in ipsum deleniti.</p>
    <img src="../../../../assets/people.png" alt="" height="250px">
  </div>
</body>

