.login {
  margin-left: 20%;
  margin-top: 5%;
  padding: 0;
  align-content: center;
}

.carta{
border-radius: 29px;
background: #ffffff;

  width: 65%;
  height: 55%;
  padding: 30px;
}

.carta2{
  border-radius: 29px;
background: black;

  width: 30%;
  height: 65%;
  padding: 30px;
  margin-left: -20%;
  color: white;

}
img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin: auto;
  padding: auto;
  padding-left: 30px;
}

.btn {
  border: none;
  outline: none;
  height: 45px;
  width: 120%;
  background-color: #299CD3;
  color: white;
  border-radius: 18px;
  font-weight: bold;

}

.btn:hover {
  background: #013970;
  border: 1px solid;
  color: white
}

.fondo{
 background-color: #ffffff;
 box-shadow: black;
}

.contenedor{

    display: grid;
    grid-template-columns: 50fr 50fr ;


}
.formulario {
  padding-left: 0px;
}
.titulo{
  color : #1F1F70;
}
 body{
      background-image: url(../../../../assets/loginbg.jpeg);
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: #999;
 }
 .textL{

  font-size: xx-small;
  color: gray;
 }
.Fp{
  text-align: right;
}
