
<div class="total row">
  <div class="col-3">
    <p>Total de personas <b class="number">999</b> </p>
  </div>
  <div class="col-4">Nuevos <b class="number">500</b></div>

  <div class="col-3 ">
    <i class="icon fas fa-cloud-download-alt"></i>
    <i class="icon1 fas fa-comment-dots"></i>
    <i class="icon2 fas fa-cogs"></i>
  </div>
  <div class="col-2">
    <div class="headerT">
    <button class="btn-pro" type="button" [routerLink]="[ '/people' , 'crear']">
      <i  class="fa fa-plus-square"></i></button>
</div>
  </div>
</div><br><br>
<div class="container">




<table class="table table-hover">
    <thead  style="color: black; background: white">
        <tr >
            <th> <i class="far fa-flag"></i></th>
            <th>Id</th>
            <th style="text-align: center;">Nombre</th>
            <th style="text-align: center;">Email</th>
            <th style="text-align: center;">Fecha</th>
            <th style="text-align: center;">Status</th>

        </tr>
    </thead>
    <tbody  style="background: white">
        <tr>
          <td></td>
          <td>1</td>
            <td style="color: black ; ">Brandon</td>
            <td >brandoncruz1016@gmail.com</td>
            <td >16/Nov/99</td>
            <td style="color: green;"> Activo</td>
        </tr>

        <tr>
          <td></td>
          <td>2</td>
            <td style="color: black ; ">Brandon</td>
            <td >brandoncruz1016@gmail.com</td>
            <td >16/Nov/99</td>
            <td style="color: red;"> Incativo</td>
        </tr>
      </tbody>
    </table>

    <div>


</div>



