
  <nav class="navbar navbar fixed-top navbar-light bg-light " style="height: auto;">
    <div class="container-fluid">
      <a routerLink="/inicio" class="navbar-brand" style="color: white; font-weight: 900px; font-size:large; cursor: pointer;">LOGO</a>

      <div class="mnM">
        <nav><ul>
          <li id="mM"><i class="fas fa-bars"></i><a id="ttM">&nbsp; Administrador</a>
            <ul>
              <li><a routerLink="/perfil" style="color: white; cursor: pointer;"><i class="far fa-user"></i>&nbsp; Perfil</a></li>
              <!-- (click)="logout()" -->
              <li><a  style="color: white;  cursor: pointer;"><i class="fas fa-sign-out-alt pt-2"></i>&nbsp; Cerrar sesión</a></li>
            </ul>
          </li>
        </ul></nav>

      </div>
    </div>
  </nav>
