
  <nav class="navbar navbar fixed-top navbar-light bg-light " style="height: auto;">
    <div class="container-fluid">
      <a routerLink="/inicio" class="navbar-brand" style="color: grey; font-weight: 900px; font-size:large; cursor: pointer;">LOGO</a>

<div class="content">
  <p>Dashboard &nbsp;</p>
  <p>Personas &nbsp;</p>
  <p>Transacciones &nbsp;</p>
  <p>Suscripciones</p>

</div>
      <div class="mnM">
        <nav><ul>
          <li id="mM"><i class="fas fa-bars"></i><a id="ttM">&nbsp; Administrador</a>
            <ul>
              <li><a routerLink="/admin" style="color:  grey;
              cursor: pointer;"><i class="far fa-user"></i>&nbsp; Perfil</a></li>
              <!-- (click)="logout()" -->
              <li><a routerLink="/login" style="color: grey;
              cursor: pointer;"><i class="fas fa-sign-out-alt pt-2"></i>&nbsp; Cerrar sesión</a></li>
            </ul>
          </li>
        </ul></nav>
      </div>
    </div>
  </nav>
