.navbar {
  height: 50%;
  background:  white;
  padding: 10px;
  height: auto ;
  border: 3px;
  border: black;

}

*{margin:0;padding:1.5px;}


nav li{
      display:inline-block;
      width:200px;
      height:35px;
      text-align:center;
      color:gray;
      position:relative;
      padding-left: -30px;
}


nav li>ul{
      display:none;
      background: #F8F9FA;
      border-radius: 7px ;
      height: max-content;

      }


nav li:hover>ul{
      display:block;
      position:absolute;
      top:30px;
      left:0px;
}

@media (max-width: 800px) {
      .navbar {
            width: 100%;
      }
      li#mM {
            display: flex;
            justify-content: flex-end;
      }
      .mnM {
            justify-self:flex-end;
      }
      #ttM {
            display: none;
      }
}

.content{
  display: flex;
}
